.title, h1 {
  background-color: #0099ff;
  color: white;
  padding: 20px 20px;
}

canvas, base-chart {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    margin-bottom: 10px;
}

#chart-toggle {
  margin: 15px 0 70px;
}

h2 { 
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;   
  font-weight: lightest;
}
body { 
  margin: 2em;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #e6f3ff;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* everywhere else */

* { 
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: lightest;
  color: #000a1a;
}