h1 {
  font-size: 1.2em;
  color: white;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  background-color: #99d6ff;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 5px 10px 5px;
  display: inline-block;
  background-color: #ccebff;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #005c99;
}
nav a:hover {
  color: #039be5;
  background-color: #66c2ff;
}
nav a.router-link-active {
  color: #039be5;
}
